<!DOCTYPE html>

    <link rel="stylesheet" href="{{ url_for('static', filename='homecss.css') }}">
    <div style="background-color:#99bbff; height:140px; padding:0%;  width:100%; position:absolute;">
		<h1 style="text-shadow:5px 5px #C0C0C0;line-height:70px; text-align:center; color:black; text-decoration:bold; font-size:30px">Criminal Face Detection and Data Extraction</h1>
		<h5 style="text-align:center; color:black; font-size:15px; line-height:0px">-----Developed by Rekha, Amey & Dipali-----</h5>
	</div>
    <br>
    <div style="box-sizing:border-box; font-weight: bold; height:600px; margin-left:270px; margin-right:230px;border:2px solid black; margin-top:130px;">
        <div style="margin-left:290px; margin-top:40px; height:200px; width:200px; border:2px solid black;">
            <p style="text-align:center; margin-top:100px;">(LOGO here)</p>
        </div>
        <h3 style="text-align:center; margin-top:20px; text-decoration:underline;">LOGIN/SIGN-UP</h3>
            <form>
                <input style="height:30px; margin-left:150px; width:450px;z-index: 1;" type="text" name="" placeholder="username"></br>
                <input style="height:30px;margin-left:150px; margin-top:10px; width:450px;z-index: 1;" type="password" name="" placeholder="password"></br>
                <input style="margin-left:150px; margin-top:10px; height:45px;width:460px;text-align:center;text-decoration:bold; border-radius:10px;font-size:20px;background-color:#157DEC;color:black;padding:0%;"
                       type="submit" name="submit" value="LOGIN"/></br>
                <a href="" style="margin-left:150px;position:absolute; margin-top:10px; ;font-size:15px; color:black;">Forgot Password</a><br>

                <input style="position:absolute;margin-top:20px; margin-left:150px;height:45px;width:220px;text-align:center;border-radius:10px;background-color:#157DEC;color:black;padding:0%;" type="submit" name="submit" value="SIGN UP as a Police">
                <input style="position:absolute;margin-top:20px;margin-left:390px; height:45px;width:220px;text-align:center;border-radius:10px;background-color:#157DEC;color:black;padding:0%;" type="submit" name="submit" value="SIGN UP as a Company"></br>
            </form>
    </div>
