{% extends 'layout_police.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css2.css') }}">
    <br><br><br>
    <h2 style="margin-left:570px; line-height:50px;">Add Record</h2>
    <form class="frm">
        <input class="txtbox1" type="text" name="name" placeholder="Full Name"><br>
        <input class="txtbox1" type="date" name="dob" placeholder="Date of Birth"><br>
         <select id="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <br>
        <input class="txtbox1" type="text" name="crime" placeholder="Crime description"/><br>
        <input class="txtbox1" type="text" name="act" placeholder="Act...."/><br>
        <input class="txtbox1" type="text" name="punishment" placeholder="Punishment.."/><br>
        <input class="txtbox1" type="text" name="contact" placeholder="Contact Number"/><br>
        <input class="txtbox1" type="text" name="address" placeholder="Address"/><br>
        <input class="txtbox1" type="text" name="c_aadhar" placeholder="Aadhar Number"/><br>
        <button class="b1" onclick="/police_home">Submit</button>
        <button class="b1" onclick="/police_home">cancel</button>
    </form>
{% endblock %}


                <label>Full name</label>
                <input id="name-field" name="name" value="" type="text" placeholder="Full name"/>

                <label>Date of Birth</label>
                <input id="date-field" name="dob" value="" type="date" placeholder="DD/MM/YYYY"/>

                <label>Gender</label>
                <select id="gender" name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>

                <label>Contact Number</label>
                <input id="contact-field" name="contact" value="" type="text" placeholder="Contact Number"/>

                <label>Address</label>
                <input id="address-field" name="address" value="" type="text" placeholder="Address"/>

                <label>Aadhar Number</label>
                <input id="aadhar-field" name="aadhar" value="" type="text" placeholder="Aadhar Number"/>

                <label>Crime description</label>
                <input id="crime-field" name="crime" value="" type="text" placeholder="Crime description"/>

                <label>Act</label>
                <input id="act-field" name="act" value="" type="text" placeholder="Act"/>
